 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Operations</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Bitoku Labs is a Social Storage Blockchain being built on the Solona ecosystem. Bitoku operates its own High-Performance Solana Validator, that is housed in a Secure, Carrier-Neutral Colocation Facility in Troy, MI. </p>
                </div>
                <div class="col-lg-4">
                    <p>More notes here. </p>
                </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
